html {
    box-sizing: border-box;
}

* *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: hsl(257, 40%, 49%) url('./images/bg-mobile.svg') repeat-x;
    color: white;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    grid-template-areas: 
    "logo"
    "illustration"
    "description"
    "button"
    "social-icon"
    "footer";
    justify-content: center;
    margin: 0 auto;
}
.logo {
    grid-area: logo;
    width: 150px;
    margin: 1.5em;
}
.description {
    grid-area: description;
}
.illustration {
    width: 80%;
    justify-self: center;
    grid-area: illustration;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 80%;
    text-align: center;
    margin: 2em auto 0;

}

p {
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 1em auto 2em;
    line-height: 1.5;
    width: 80%;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    background-color: white;
    padding: 0.75em;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    width: 200px;
    grid-area: button;
    margin: 0 auto;
}



.social-icon {
    margin: 0 auto;
    grid-area: social-icon;
}

.social {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
    margin-left: 0.75em;
}
footer {
    grid-area: footer;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: white; }

@media only screen and (min-width: 778px) {

    body {
        background: hsl(257, 40%, 49%) url('./images/bg-desktop.svg') no-repeat;
    }
    .wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: auto;
        grid-template-areas: 
        "logo ..."
        "illustration description"
        "illustration button"
        "social-icon social-icon"
        "footer footer";
        justify-content: center;
        margin: 0 auto;
    }
    .illustration {
        width: 100%;
        margin-left: 3em;
        margin-top: 2em;
        align-self: center;
    }
    h2, .desc-p {
        text-align: left;
    }
    .btn {
        justify-self: flex-end;
        margin-left: 50px;
    }
    .social-icon {
        justify-self: flex-end;
        margin-top: 50px;
        margin-right: 50px;
        text-align: right;
    }


}